node_modules
data/database.sqlite
.env
storage-creds.json
yarn-error.log
yarn.lock
public/index.html
app.production.yaml
app.staging.yaml
.npmrc
.DS_Store
functions.env.yaml
prod.functions.env.yaml
staging.functions.env.yaml
